/* Stylez */
body {font-family: Merriweather; margin: 0 auto; color: #333; border: 8px solid #CCFF26; line-height: 1.4em;}

a {color: #777; text-decoration: none;}
a:hover {color: #CCFF26;}

h4 {font-family: "Helvetica Neue", "Arial", sans-serif; font-weight: 500;}
p {font-weight: 400;}

article {padding: 8px 0;}
section {padding-top: 24px;}

.container {width: 600px; margin: 0 auto; padding: 60px 20px;}
.meta {text-transform: uppercase; font-family: "Helvetica Neue", "Arial", sans-serif; font-size: 11px; letter-spacing: .1em;}
.meta a {border-bottom: 1px solid #CCFF26;}
.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}
.load {font-family: "Helvetica Neue", "Arial", sans-serif; color: #CCFF26; font-weight: 900; border: 1px dashed #CCFF26; padding: 3px 4px; border-radius: 2px; opacity: .5;}
.name {font-family: "Ceviche One"; font-size: 60px;}
.tleft {text-align: left;}
.half {min-width: 270px; max-width: 350px; vertical-align: top; display: inline-block;}
.right {float: right;}

/* Twitter */
#tweet p {font-size: 12px;}

/* Instagrams */
#instagram {margin: 0 auto;}
.one-gram {display: inline;}
.one-gram img {border: 5px solid #fafafa;}


/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license
*/

.animated {-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {-webkit-animation-name: flash; animation-name: flash;}
