body {font-family: Source Sans Pro;
      text-align: center;
      line-height: 1.2em;
      color: #333;
      margin: 0;
      background: #fff;
      padding: 12px;
      box-sizing: border-box;}

a {color: #9400D3;
   text-decoration: none; }

h1 {
font-weight: 900;
font-size: 50px;
font-family: Playfair Display;
padding: 0 20px 20px 20px;
line-height: 1.2em;
margin-top: 0;
border-bottom: 2px solid #333;
display: inline-block;
margin-bottom: 0px;}

p {font-size: 20px; line-height: 1.3em; color: #696969}


#header {margin: 0 auto;
         border-radius: 999px; 
         margin-top: 30px; 
         margin-bottom: 30px; 
         background: #F7F7F7; 
         height: 150px; 
         width: 150px;}

.avatar img {border-radius: 999px;}

.wrapper {box-sizing: border-box; 
          background: rgb(250, 243, 253); 
          box-shadow: 0 0 5px #888; 
          box-shadow: 0 0 5px #888; 
          height: 100%; overflow: auto; }

.container {width: 500px; 
            margin: 0 auto; 
            overflow: visible;}
            
.inline-list {list-style: none; 
              margin: 0; 
              padding: 0;}

.inline-list li {display: inline-block; }

.inline-list li {padding-left: 20px;}

.inline-list li a {padding: 2px 8px; 
                  border: 1px solid #9400D3; 
                  border-radius: 2px; 
                  letter-spacing: .1em; 
                  text-transform: uppercase; 
                  font-weight: 400; 
                  font-size: 14px;}

.inline-list li a:hover {background: #9400D3; 
                         color: #fff;}
